# dependencies
/node_modules
/web/node_modules

# build
/dist
*.tsbuildinfo
/web/.next
/web/next-env.d.ts

# env
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*

# test / coverage
/coverage

# prisma
/prisma/*.db

# OS / editor
.DS_Store
.idea
.vscode
